{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/slider.css' %}">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <!-- Stylesheets -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="{% static 'js/bootstrap-slider.js' %}"></script>

    
</head>
<body>
    <div class="container-fluid">
        <div class="row bg-black py-md-3">

        </div>
        <div class="row py-md-1 bg-ligth-bar shadow">
            <div class="col-md-2 text-center">
            
                    <h1 class="text-dark">Vote App</h1>
            
            </div>
            <div class="col-md-8 py-md-1 text-center">
                    <h3 class="text-dark">Room name</h3>
            </div>
            
        </div>
        <div class="row">
            <div class="col-md-2 bg-dark">
                <div class="row bg-black">
                    <div class="custom-search form-group has-search" >
                        <span class="fa fa-search form-control-feedback"></span>
                        <input type="text" class="bg-black form-control"  placeholder="Search">
                    </div>
                </div>
                <div class="row bg-custom-dark-active py-md-2">
                    <div class="col-md-3">
                            <a><img src="https://pp.userapi.com/c824500/v824500584/17d2ca/PBTdnYhPvis.jpg" name="aboutme" width="50" height="50" class="rounded-circle"></a>
                    </div>
                    <div class="col-md-9">
                        <h5 class="media-heading text-center text-light py-md-3">Арнур</h5>
                    </div>
                
                </div>
                <div class="row bg-custom-dark py-md-2">
                    <div class="col-md-3">
                            <a><img src="https://pp.userapi.com/c837421/v837421432/53f10/JJVWlud2OtQ.jpg" name="aboutme" width="50" height="50" class="rounded-circle"></a>
                    </div>
                    <div class="col-md-9">
                        <h5 class="media-heading text-center text-light py-md-3">Куаныш</h5>
                    </div>
                
                </div>
                <div class="row bg-custom-dark py-md-2">
                    <div class="col-md-3">
                            <a><img src="https://pp.userapi.com/c845522/v845522411/19bb64/kVnNSWECWw8.jpg?ava=1" name="aboutme" width="50" height="50" class="rounded-circle"></a>
                    </div>
                    <div class="col-md-9">
                        <h5 class="media-heading text-center text-light py-md-3">Аскар </h5>
                    </div>
                
                </div>
                <div class="row bg-custom-dark py-md-2">
                    <div class="col-md-3">
                            <a><img src="https://pp.userapi.com/c851024/v851024831/da4d2/qz_Uj8_Rgu8.jpg" name="aboutme" width="50" height="50" class="rounded-circle"></a>
                    </div>
                    <div class="col-md-9">
                        <h5 class="media-heading text-center text-light py-md-3">Айгерим </h5>
                    </div>
                
                </div>
                <div class="row bg-custom-dark py-md-2">
                    <div class="col-md-3">
                            <a><img src="https://pp.userapi.com/c824503/v824503660/1f192/LwEYWzNzF4E.jpg" name="aboutme" width="50" height="50" class="rounded-circle"></a>
                    </div>
                    <div class="col-md-9">
                        <h5 class="media-heading text-center text-light py-md-3">Карина</h5>
                    </div>
                
                </div>
                <div class="row bg-custom-dark py-md-2">
                    <div class="col-md-3">
                            <img src="https://pp.userapi.com/c639631/v639631643/5fab5/BXBMeiCvX68.jpg?ava=1" name="aboutme" width="50" height="50" class="rounded-circle"></a>
                    </div>
                    <div class="col-md-9">
                        <h5 class="media-heading text-center text-light py-md-3">Олжас </h5>
                    </div>
                
                </div>
                <div class="row bg-custom-dark py-md-2">
                    <div class="col-md-3">
                            <a><img src="https://sun1.tele2-kz.userapi.com/c830109/v830109414/132d8d/GwFRx9bpWyk.jpg?ava=1" name="aboutme" width="50" height="50" class="rounded-circle"></a>
                    </div>
                    <div class="col-md-9">
                        <h5 class="media-heading text-center text-light py-md-3">Чингиз </h5>
                    </div>
                
                </div>
            </div>
            <div class="col-md-9">
                <div class="contanier py-md-3">
                    <form>
                        <div class="row">
                            <div class="col-md-4">
                                <h1 class="mb-md-4 text-info">Programing</h1>
                                
                                <div class="custom-control custom-radio my-md-2">
                                    <input type="radio" class="custom-control-input" id="customRadio1" name="example" value="customEx">
                                    <label class="custom-control-label" for="customRadio1"><h4 class="text-muted">Custom radio 1</h4></label>
                                </div>
                                <div class="custom-control custom-radio my-md-2">
                                    <input type="radio" class="custom-control-input" id="customRadio2" name="example" value="customEx">
                                    <label class="custom-control-label" for="customRadio2"><h4 class="text-muted">Custom radio 1</h4></label>
                                </div> 
                                <div class="custom-control custom-radio my-md-2">
                                    <input type="radio" class="custom-control-input" id="customRadio3" name="example" value="customEx">
                                    <label class="custom-control-label" for="customRadio3"><h4 class="text-muted">Custom radio 1</h4></label>
                                </div>
                                <div class="custom-control custom-radio my-md-2">
                                    <input type="radio" class="custom-control-input" id="customRadio4" name="example" value="customEx">
                                    <label class="custom-control-label" for="customRadio4"><h4 class="text-muted">Custom radio 1</h4></label>
                                </div> 
                                <div class="custom-control custom-radio my-md-2">
                                    <input type="radio" class="custom-control-input" id="customRadio5" name="example" value="customEx">
                                    <label class="custom-control-label" for="customRadio5"><h4 class="text-muted">Custom radio 1</h4></label>
                                </div> 
                                
                            </div>
                            <div class="col-md-4">
                                <h1 class="mb-md-4 text-info">Design</h1>
                                <div class="custom-control custom-radio my-md-2">
                                    <input type="radio" class="custom-control-input" id="customRadio11" name="example" value="customEx">
                                    <label class="custom-control-label" for="customRadio11"><h4 class="text-muted">Custom radio 1</h4></label>
                                </div>
                                <div class="custom-control custom-radio my-md-2">
                                    <input type="radio" class="custom-control-input" id="customRadio22" name="example" value="customEx">
                                    <label class="custom-control-label" for="customRadio22"><h4 class="text-muted">Custom radio 1</h4></label>
                                </div> 
                                <div class="custom-control custom-radio my-md-2">
                                    <input type="radio" class="custom-control-input" id="customRadio33" name="example" value="customEx">
                                    <label class="custom-control-label" for="customRadio33"><h4 class="text-muted">Custom radio 1</h4></label>
                                </div>
                                <div class="custom-control custom-radio my-md-2">
                                    <input type="radio" class="custom-control-input" id="customRadio44" name="example" value="customEx">
                                    <label class="custom-control-label" for="customRadio44"><h4 class="text-muted">Custom radio 1</h4></label>
                                </div> 
                                <div class="custom-control custom-radio my-md-2">
                                    <input type="radio" class="custom-control-input" id="customRadio55" name="example" value="customEx">
                                    <label class="custom-control-label" for="customRadio55"><h4 class="text-muted">Custom radio 1</h4></label>
                                </div> 
                            </div>
                            <div class="col-md-4">
                                <h1 class="mb-md-4 text-info">Speach</h1>
                                <div class="custom-control custom-radio my-md-2">
                                        <input type="radio" class="custom-control-input" id="customRadio111" name="example" value="customEx">
                                        <label class="custom-control-label" for="customRadio111"><h4 class="text-muted">Custom radio 1</h4></label>
                                    </div>
                                    <div class="custom-control custom-radio my-md-2">
                                        <input type="radio" class="custom-control-input" id="customRadio222" name="example" value="customEx">
                                        <label class="custom-control-label" for="customRadio222"><h4 class="text-muted">Custom radio 1</h4></label>
                                    </div> 
                                    <div class="custom-control custom-radio my-md-2">
                                        <input type="radio" class="custom-control-input" id="customRadio333" name="example" value="customEx">
                                        <label class="custom-control-label" for="customRadio333"><h4 class="text-muted">Custom radio 1</h4></label>
                                    </div>
                                    <div class="custom-control custom-radio my-md-2">
                                        <input type="radio" class="custom-control-input" id="customRadio444" name="example" value="customEx">
                                        <label class="custom-control-label" for="customRadio444"><h4 class="text-muted">Custom radio 1</h4></label>
                                    </div> 
                                    <div class="custom-control custom-radio my-md-2">
                                        <input type="radio" class="custom-control-input" id="customRadio555" name="example" value="customEx">
                                        <label class="custom-control-label" for="customRadio555"><h4 class="text-muted">Custom radio 1</h4></label>
                                    </div> 
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            
            <div class="col-md-1 text-center bg-ligth-bar">
                    
                    <label for="customRange">Rating</label>
                    <div  class="mb-md-5"><h2 id="valrange">0</h2></div>
                    <input id="ex17b" name="customRange" >
                    
                    <button type="button" class="btn btn-dark my-md-5">Submit</button>
            </div>
        </div>

        
    </div>

    <script>    
        $("#ex17b").slider({
                min: 0,
                max: 10,
                value: 0,
                orientation: 'vertical',
                tooltip_position:'right'

        });
        $('#ex17b').slider()
            .on('slide', function(ev){
                var a = $("#ex17b").val();
                console.log(a);
                $('#valrange').html(a   );
            });
        
    </script>
</body>
</html>