{% extends 'profiles/base.html' %}


{% block title %}
Registration - {{ block.super }}
{% endblock title %}


{% block content %}
<div class="container">
    <h1>Hello, {{ user.id }} - {{ user.username}}</h1>
    <img src="{% if user.userprofile.avatar %}{{ user.userprofile.avatar.url }} {% endif %}" alt="avatar" width="250">
    <h3>Rooms:</h3>
    <ul>

        {% for room in user.rooms.all %}

        <li> <a href="{{ room.get_absolute_url }}"> {{ room.name }} </a> </li>

        {% endfor %}

        <form action="{% url 'create_room_url' %}" method="POST">
            {% csrf_token %}
            {{ createRoom_form.as_p }}
            <button type="submit">Create</button>
        </form>

    </ul>
    <hr>
    
    {% for skill in skills %}
         <br>
        
    
        
    <div class="row">
        <div class="col-md-4">
            <label>{{skill.skill.name}}</label>
        </div>
        <div class="col-md-8">
            <div class="progress">
                <div class="progress-bar {% if skill.value < 50 %} bg-danger {% else %} bg-success {% endif %}progress-bar-striped" style='width:{{skill.value}}%'>
                    {{skill.value}}%
                </div>

            </div>
        </div>
    </div>

    {% endfor %}
    <hr>
    <a href="{% url 'logout_url' %}">Logout</a>
    <a href="{% url 'edit_profile_url' %}">Edit profile</a>
</div>
{% endblock content %}