{% extends 'profiles/base.html' %}


{% block pagetitle %}
Room
{% endblock pagetitle %}


{% block title %}

<h1>{{ cur_room.name }}</h1>

{% endblock title %}


{% block openform %}
<form action="{% url 'calc_skill_url' cur_room.slug %}" method="POST">
    {% csrf_token %}

    {% endblock openform %}

    <!-- SIDEBAR START -->
    {% block sidebar %}
    <div class="list-group">
        <h3 class="list-group-item">
            <p>Участники:</p>
        </h3>
        {% for member in members %}
        <label class="list-group-item list-group-item-action">
            <input class="form-check-input" type="radio" name="member" id="{{member.username}}-{{member.id}}" value="{{ member.username }}"
            checked>
            <img src="{{ member.userprofile.avatar.url }}" alt="avatar" width="80" for="{{member.username}}-{{member.id}}">
            {{ member.username }}
            {% if member == room_admin %}
            <span class="badge badge-warning">admin</span>
            {% endif %}
            
        </label>
        {% endfor %}

    </div>




    {% endblock sidebar %}
    <!-- SIDEBAR END -->

    {% block content %}

    <div class="col-md-10">

        <div class="row">
            {% for x in skills %}

            <div class="col-md-4">
                {% for i in x %}

                {% if forloop.first %}

                <h3>{{ i.category }}</h3>
                {% endif %}
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="skill" id="{{i.id}}" value="{{ i.name }}"
                        checked>
                    <label class="form-check-label" for="{{i.id}}">
                        {{i.name}}
                    </label>
                </div>
                {% endfor %}
            </div>



            {% endfor %}

        </div>

    </div>
    <div class="col-md-2 text-center">
        <h2 id="valrange">0</h2>
        <div class="slider-wrapper mb-1">
            <input class="custom-range" type="range" name="score" id="score" min='0' max=10 value="0">
        </div>
        <div class="row mx-md-auto">
            <button type="submit" class="btn btn-dark ">Оценить</button>      
        </div>     
    </div>
    {% if user == room_admin %}
    <div class="admin-panel align-items-center">
        <p>Админ панель</p>
        
        <a href="{{ cur_room.get_settings_absurl }}" class="btn btn-dark">Настройки</a>
        <a href="{{ cur_room.get_room_info_url }}" class="btn btn-info">Информация</a>    
        
    </div>
    {% endif %}


    <script>    
           
                $(document).on('input', '#score', function() {
                    $('#valrange').html( $(this).val() );
                });
        </script>
    {% endblock content %}



    {% block endform %}
</form>
{% endblock endform %}