body{
    font-family: Roboto;
    
}

.slider-wrapper {
    display: inline-block;
    width: 20px;
    height: 200px;
    padding: 0;
}
.slider-wrapper input {
    width: 200px;
    height: 20px;
    margin: 0;
    transform-origin: 75px 100px;
    transform: rotate(-90deg);
}

.admin-panel {
    border: 1px solid #999999;
    border-radius: 2px;
    position: fixed;
    right: 50px;
    bottom: 30px;
    opacity: 0.3;
    padding: 15px; 
}

.admin-panel:hover {
    opacity: 1;
}

.admin-panel a {
    display: block;
    margin: 5px 0;
}
